<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <ion-toolbar>
      
    <ion-grid>

      <ion-row>

          <ion-col class="column first-column">

              <p style="color: black;">Columna A</p>

          </ion-col>

          <ion-col class="column second-column">

              <p>Columna B</p>

          </ion-col>

      </ion-row>

  </ion-grid>

  </ion-toolbar>
</ion-content>
