<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card style="height: 10rem;">
  </ion-card>
  <div class="canvas" role="img" aria-label="Cartoon of Santa Claus on top of a snowy hill">
    <div class="hand"></div>
    <div class="hand"></div>
    <div class="arms"></div>
    <div class="leg"></div>
    <div class="leg"></div>
    <div class="body">
      <div class="belt"></div>
    </div>
    <div class="beard"></div>
    <div class="head">
      <div class="cheek"></div>
      <div class="cheek"></div>
      <div class="eye"></div>
      <div class="eye"></div>
      <div class="mustache"></div>
      <div class="mustache"></div>
      <div class="hat"></div>
    </div>
  </div>
</ion-content>
