<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>

    <ion-row>

        <ion-col>

            <p>Este es un texto que acompaña a la imagen.</p>

            <img src="https://trome.com/resizer/BgizOLhOw_vngB8SJS7lq1cvjmA=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/RTQCIOFXZZH7POEMG45FPJTQTQ.jpg"  class="image">

        </ion-col>

    </ion-row>

</ion-grid>
</ion-content>
